@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model string[]

<h5>Exibindo arquivo: @ViewData["NomeArquivo"] </h5>

<hr />

@foreach (string linha in Model)
{
    <p class="mb-2"> <pre> @linha </pre> </p>
}


